*{
	font-family: 'Poppins', sans-serif;
	margin:0;
	padding:0;
	scroll-behavior: smooth;

}

section{
	height:100vh;
	width:100%;
}

:root {
	--white-color: #fff;
	--grey-color: #ceccbb;
	--darkgreen-color: #121911;	
	--lightgreen-color: #6d751f;
	--limeyellow-color: #9da244;
	--mediumgreen-color: #48530f;
}

a{
	text-decoration: none;
}

.container{
	margin:10%;
}
.container .container-inner{
	padding:5% 0%;
}

h2{
	font-size: 36px;
	font-weight: 900;
	text-align: center;
	color: var(--mediumgreen-color);
}


/********************************************************************************************
											landing page 
*********************************************************************************************/

.landing {
	height: 100vh;
  }
  
  .akcssc-image {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	height:160px;
  }
  
  .intro {
	background: var(--darkgreen-color);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
  }
  .slider {
	background: var(--mediumgreen-color);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateY(100%);
	z-index: 3;
  }
  
  .intro-text {
	color: var(--white-color);
	font-size: 2rem;
  }
  
  .hide {
	background: var(--darkgreen-color);
	overflow: hidden;
  }
  
  .hide span {
	transform: translateY(100%);
	display: inline-block;
  }

/* desk */
@media screen and (max-width: 1199.98px) {
	
}

/* lap */
@media screen and (max-width: 991.98px) {
	.akcssc-image {
		height:140px;
	  }
}

/* Tab */
@media screen and (max-width: 775.98px) {
	.intro-text {
		font-size: 1.6rem;
	  }
	  .akcssc-image {
		height:120px;
	  }
}

/* Mobile */
@media screen and (max-width: 575.98px) {
	.intro-text {
		font-size: 0.9rem;
	  }
	  .akcssc-image {
		height:90px;
	  }
}
  
/********************************************************************************************
											about 
*********************************************************************************************/
section#about{
	height: auto;
}

#about h2{
	text-align: left;
}
#about .container .container-inner{
	display:grid;
	text-align: left;
	grid-template-columns:auto auto;
}

.about-text{
	margin-right: 60px;
	/* background-color: cadetblue; */
}

.about-image img{
	height:300px;
}

/* desk */
@media screen and (max-width: 1199.98px) {

}

/* lap */
@media screen and (max-width: 991.98px) {
	#about .container .container-inner{
		grid-template-columns:auto;
	}

	#about .container .container-inner .about-image{
		grid-row: 1/2;
	}

	.about-text{
		margin-right: 0px;
		margin-top: 50px;
		font-size: 14px;
	}
	
	.about-image{
		text-align: center;
	}
	#about h2{
		text-align: center;
	}

}

/* Tab */
@media screen and (max-width: 775.98px) {
	.about-image img{
		height:250px;
	}
	
}

/* Mobile */
@media screen and (max-width: 575.98px) {
	.about-image img{
		height:200px;
	}
}

/********************************************************************************************
											Sponsors 
*********************************************************************************************/
section#sponsors{
	height: auto;
}

#sponsors .container .container-inner{
	display:grid;
	text-align: center;
	grid-template-columns:auto auto auto;
}

.sponsor a img{
	height:60px;
	margin-bottom: 40px;
}

/* desk */
@media screen and (max-width: 1199.98px) {

}

/* lap */
@media screen and (max-width: 991.98px) {
	.container .container-inner{
		grid-template-columns: auto auto !important;       /*!important was added to make the selector property more specific if possible remove it */
	}
	h2{
		font-size: 32px;
		font-weight: 700;
		text-align: center;
	}
	
}

/* Tab */
@media screen and (max-width: 775.98px) {
	.container .container-inner{
		grid-template-columns: auto !important;
	}
	h2{
		font-size: 28px;
		font-weight: 700;
		text-align: center;
		margin-bottom: 20px;
	}
	.sponsor a img{
		margin-bottom: 70px;
	}
}

/* Mobile */
@media screen and (max-width: 575.98px) {
	
}


/********************************************************************************************
											gallery 
*********************************************************************************************/

.pieces-slider {
	position: relative;
	text-align: center;
	padding: 8rem 0;
}

.js .pieces-slider {
	padding: 0;
}

/* Make all slides absolutes and hide them */
.js .pieces-slider__slide {
	position: absolute;
	right: 100%;
}

/* Define image dimensions and also hide them */
.pieces-slider__image {
	max-width: 600px;
	max-height: 400px;
}

.js .pieces-slider__image {
	visibility: hidden;
}

/* Hide the titles */
.js .pieces-slider__text {
	text-indent: -9999px;
}

/* Canvas with viewport width and height */
.js .pieces-slider__canvas {
	position: relative;
	width: 90vw;
	height: 100vh;
	transition: 0.2s opacity;
}

/* Class for when we resize */
.pieces-slider__canvas--hidden {
	opacity: 0;
	transition-duration: 0.3s;
}

/* Navigation buttons */
.pieces-slider__button {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100px;
	height: 100px;
	margin: -25px 0 0 0;
	background-color: var(--mediumgreen-color);
	color: var(--white-color);
	font-family: inherit;
	font-weight: bold;
	border: none;
	cursor: pointer;
	font-size: x-large;
	transition: 0.1s background-color;
}

.pieces-slider__button:hover {
	background: var(--lightgreen-color);
}

.pieces-slider__button--next {
	left: auto;
	right: 0;
}

/* Hide the buttons when no JS */
.no-js .pieces-slider__button {
	display: none;
}

/* Media queries with styles for smaller screens */
@media screen and (max-width: 720px) {
	.pieces-slider__image {
		max-width: 300px;
	}
	.pieces-slider__button {
		font-size: large;
	}
}

@media screen and (max-width: 55em) {
	.pieces-slider__canvas {
		width: 100vw;
		height: 100vw;
	}
	.pieces-slider__button {
		width: 60px;
		height: 60px;
	}
}



/********************************************************************************************
											footer 
*********************************************************************************************/
/* footer left */
footer{
	height:auto;
	width:100%;
	display:grid;
	font-size: 14px;
	text-align: center;
	grid-template-rows: 60vh;
	grid-template-columns: 1.3fr 3fr;
}

footer .footer-logo{
	padding-top:100px;
	background-color: var(--lighttheme-color);
}

.bottom-logo-container{
	display: inline-block;
}

.hidden{
	display:none;
}

.bottom-logo-container::after{
	content: "";
	width: 20px;
	height: 2px;
	display: flex;
	margin: 10px 0px;
	background-color: #000;
}

footer .footer-logo #bottom-logo{
	height:50px;
}

#mail{
	font-size: 14px;
	color: var(--grey-color);
}

#mail a{
	display: block;
	color: var(--grey-color);
}

/*footer right */
footer .contact{
	display:grid;
	text-align: left;
	padding-top:100px;
	padding-left:150px;
	color: var(--white-color);
	grid-template-columns: 1fr 1fr 1fr;
	background-color: var(--mediumgreen-color,--lightgreen-color);
}

.register{
	margin-bottom: 45px;
}

#register-button{
	padding:8px 27px;
	border: 2px solid #fff;
	color: var(--white-color);
}

.navigation nav{
	text-decoration: none;
	list-style-type: none;
}

.navigation nav li{
	margin-bottom: 10px;
}

.navigation nav li a{
	color: var(--white-color);
	margin:10px;
}

.social{
	display: inline-block;
}

.social a{
	padding:10px;
}

.icons{
	display: inline-block;
}

.icons a{
 color:#fff
}

.copyright a{
	padding: 0;
	color: var(--white-color);
}
.copyright{
	margin-top:20px;
	text-align: left;
	display: inline-block;
}
















/* desk */
@media screen and (max-width: 1199.98px) {

}

/* lap */
@media screen and (max-width: 991.98px) {
	footer{
		grid-template-columns: 100%;
	}

	.desktop{
		display: none;
	}

	footer .contact{
		padding-left: 0px;
		text-align: center;
		grid-template-columns: 1fr;
	}
	
	footer .footer-logo{
		padding-top:20px;
		background-color: var(--lighttheme-color);
	}
	
	.bottom-logo-container{
		display: inline-block;
	}
	
	.hidden{
		display:block;
	}
	
	.bottom-logo-container::after{
		display: none;
	}

	.contact{
		padding-left: 0px;
		grid-row: 1/3;
	}

	.navigation nav li{
		display: inline-block;
		margin-bottom: 20px;
	}

	.social{
		display: block;
	}
	.social a{
		margin-right: 10px;
	}
	.copyright{
		display: inline-block;
		padding: 25px;
		text-align: center;
		margin-top: 5px;
		border-top: 1px solid var(--lightgreen-color);
	}

	.copyright a{
		margin:0px;
	}

	.icons{
		border-bottom: 1px solid var(--lightgreen-color);
		padding-bottom: 10px;
	}
}

/* Tab */
@media screen and (max-width: 775.98px) {

}

/* Mobile */
@media screen and (max-width: 575.98px) {

}